*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.container{
    margin-top: 40px;
    /* border: 1px solid black; */
}

.image-container{
    width: 80%;
    margin-left: 50px;
    display: flex;
    
}

.prodImg{
    width: 50%;
}

.top-nav {
  color: white;
  text-align: center;
  padding: 3px;
  background-color: rgb(31, 28, 49);
  height: 25px;
  font-size: small;
}

.logo {
  padding-left: 50px;
  width: 16%;
}

.main {
  top: 0px;
  left: 0px;
}

.navbarr {
  display: flex;
  justify-content: space-between;
  background-color: rgb(226, 214, 214);
  padding-right: 80px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  padding: 5px 5px 0px 15px;
}

a:hover {
  color: white;
  background-color: rgb(88, 99, 109);
  border-radius: 10px;
}

.card-title{
    color: yellow;
}

.moreProduct{
  text-align: center;
  padding-top: 20px;
  font-size: larger;
  font-weight: 600;
}

.moreProdTxt{
  color: rgb(47, 47, 97);
}

.moreProdTxt:hover{
  color: blue;
  text-decoration: none;
  background-color: white;
}

.home{
  font-weight: 700;
  padding: 8px 0px 0px 0px ;
  text-decoration: none;
  color:  rgb(47, 47, 97);
}
.home:hover{
  background-color:  rgb(226, 214, 214);
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.card{
  display:inline-block;
}

.row{
  display: flex;
}