* {
  margin: 0;
  padding: 0;
}

.im {
  margin-left: 94px;
}

#pickup {
  font-size: medium;
  font-weight: 100;
  width: 47%;
  padding: 5px;
  border: 2px solid #ddd2d2;
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
}

#destination {
  /* margin-left: 350px; */
  width: 47%;
  border: 2px solid #ddd2d2;
  background: #eaeaea;
  padding: 5px;
}

.main-container {
  height: 600px;
}

.container {
  margin-top: 80px;
  margin-left: 365px;
  /* background-color: red; */
  width: 60%;
  padding: 40px;
}

.product-img {
  display: flex;
  align-items: center;
  width: 60%;
  border: dotted;
  background-color: #e9e2e2;
  height: 120px;
}

#prod-img {
  align-items: center;
}

.top-nav {
  background-color: rgb(31, 28, 49);
  height: 25px;
}

.logo {
  padding-left: 50px;
  width: 16%;
}

.main {
  /* position: sticky; */
  top: 0px;
  left: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(226, 214, 214);
  padding-right: 80px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
}

a:hover {
  color: white;
  background-color: rgb(138, 148, 158);
  border-radius: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  height: 300px;
}

.row {
  background-color: rgb(226, 214, 214);
  display: flex;
  flex-direction: row;

}

.footer-text {
  padding: 20px 0px 0px 65px;
}

.lowerFooter {
  text-align: center;
  background-color: black;
  height: 30px;
  padding-top: 10px;
  color: white;
}

.fa {
  padding: -1px;
  font-size: 20px;
  width: 16px;
  text-align: center;
  text-decoration: none;
  margin: 18px 8px;
}

.icon {
  padding: 30px 0px 0px 57px;
}

.button {
  width: 60%;
  flex-basis: 48%;
  background: #3c00a0;
  color: #fff;
  height: 40px;
  border-radius: 6px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}