*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 40px;
    /* border: 1px solid black; */
}

.image-container{
    width: 80%;
    margin-left: 50px;
    display: flex;
    
}

.prodImg{
    width: 50%;
}